/* footer */
.footer {
  margin-top: 130px;
  margin-bottom: 200px;
}

footer p {
  background: #fff4e7;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #424242;
  padding: 38px 0;
}
