/* top navbar */
.top-menu {
    padding-top: 50px;
}

.logo {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.nav-link-container {
    list-style: none;
    gap: 50px;
}

.nav-link-container a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #424242;
}