/* top navbar */
.top-menu {
    padding-top: 50px;
}

.logo {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

.nav-link-container {
    list-style: none;
    gap: 50px;
}

.nav-link-container a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #424242;
}

/* header text */

.header-text {
    padding: 100px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-text h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #131313;
}

.header-text p {
    margin: 30px 0;
    line-height: 26px;
    text-align: center;
    color: #727272;
    width: 80%;
    max-width: 860px;
}

/* header image */
.header-image img {
    max-height: 700px;
}