/* productivity */
.productivity-section {
  margin-top: 130px;
}

.productivity-section > h3 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
  margin-bottom: 24px;
}

.productivity-section > p {
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

/* face */
.fact-container {
  margin-top: 100px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.fact-container > div {
  width: 240px;
  height: 240px;
  border: 1px solid #ff900e;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fact-container > div img {
  width: 45px;
}

.fact-container > div h3 {
  font-weight: 600;
  font-size: 45px;
  line-height: 53px;
  margin: 7px 0 5px 0;
  color: #424242;
}

.fact-container > div p {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #727272;
}
