/* basic css */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

.container {
  width: 96%;
  max-width: 1440px;
  margin: 0 auto;
}

.nav {
  width: 98%;
  max-width: 1460px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.flex-item-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  background: #ff900e;
  border: 0;
  border-radius: 8px;
  padding: 20px 25px;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  cursor: pointer;
}

/* text primary */
.text-primary {
  color: #ff900e;
}

.text-black {
  color: #131313;
}
